#uscis-news {
  overflow-y: scroll;
  height: 300px; }
  #uscis-news::after {
    content: "";
    /* Generate a pseudo-element */
    position: absolute;
    /* Position the pseudo-element absolutely within the container */
    bottom: 0;
    /* Align the pseudo-element to the bottom of the container */
    left: 0;
    right: 0;
    height: 100%;
    /* Set the height of the pseudo-element */
    background: linear-gradient(0deg, white 5%, rgba(255, 255, 255, 0) 35%);
    pointer-events: none; }
  #uscis-news .card-header {
    font-size: 0.9rem; }
