.one{
    background-color:lightblue;
  /*   border: 2px solid black;
    border-radius: 5px; */
    display: inline-block;
    padding: 3rem 10rem;
    position: relative;
  }
  .one:before{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 40px solid lightblue;
    position: absolute;
    bottom:-40px;
    left: 50%;
    margin-left:-80px;
    content:'';
  }