-
  var texts = {
    mission: `At MusicMi we set a mission for ourselves to provide aspiring young musicians from across the country with an opportunity to study with world-class artists and to provide our students with a music education of the highest artistic standards, regardless of their financial situation.`
  }
