-
  var texts = {
    mission: `At SBI LAW we... Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, eius veniam corrupti cumque quibusdam quo tempora vitae sed ducimus, repellendus a quaerat fugiat temporibus minima ab vel odit tenetur impedit. Asperiores suscipit, repellendus recusandae quia modi, aut rem alias eligendi corporis sint itaque fugiat eos! Fuga voluptate enim incidunt laudantium!.`,
    tel: '954-361-3880'
  }
