-
    var urls = {
        home: '/',
        about: '/#about',
        howItWorks: '/#howitworks',
        contact: '/#contact',
        faq: '/faq',
        donate: '/donate',
        signup: 'https://musicsol.teachworks.com/form/musicmi-sign-up-form',
        teacherSignup: 'https://musicsol.teachworks.com/form/musicsol-instructor-application',
        amazonSmile: 'https://smile.amazon.com/ch/87-2473893',
        terms: '/terms-and-conditions',
        howItAllBegan: '/how-it-all-began',
        musicsol: 'https://musicsol.net',
        ole: '/ole-optimized-learning-experience'
    }