-
    var urls = {
        home: '/',
        about: '/#about',
        howItWorks: '/#howitworks',
        contact: '/#contact',
        faq: '/faq',
        donate: '/donate',
        terms: '/terms-and-conditions',
        howItAllBegan: '/how-it-all-began',
        ole: '/ole-optimized-learning-experience',
        resources:  '/resources'
    }