.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 3px;
    background-color: #d9d9d9;
    margin-left: -1.5px;
    left: 20px; }
    @media (min-width: 576px) {
      .timeline:before {
        left: 50%; } }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 55px; }
    .timeline > li:after, .timeline > li:after {
      content: "";
      display: table;
      clear: both; }
    .timeline > li .panel {
      width: 100%;
      float: left;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      background-color: rgba(229, 229, 229, 0.1);
      box-shadow: 1px 2px 80px 0 rgba(0, 0, 0, 0.2);
      transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1); }
      .timeline > li .panel:hover {
        background: #fff; }
      .timeline > li .panel summary {
        display: block;
        user-select: none;
        outline: none;
        padding: 30px 10px 30px 10px;
        margin: 0 20px 0 20px;
        margin-bottom: 0px;
        font-weight: 600; }
        .timeline > li .panel summary::-webkit-details-marker {
          display: none; }
      .timeline > li .panel p {
        padding: 0;
        height: 0px;
        transition: all 100s cubic-bezier(0.23, 1, 0.32, 1);
        overflow: hidden;
        margin: 0; }
      .timeline > li .panel[open] p {
        padding: 30px;
        height: 100%;
        transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1); }
      .timeline > li .panel[open] summary {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    @media (min-width: 576px) {
      .timeline > li {
        padding-left: 0px; }
        .timeline > li .panel {
          width: 50%; }
        .timeline > li:not(:nth-child(even)) {
          padding-right: 90px; }
        .timeline > li:nth-child(even) {
          padding-left: 90px; }
          .timeline > li:nth-child(even) > :nth-child(even) {
            float: right; } }
    .timeline > li > .icon {
      color: #d9d9d9;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 2.8em;
      text-align: center;
      position: absolute;
      left: 20px;
      margin-left: -25px;
      background-color: #fafafa;
      z-index: 999;
      border-radius: 50%; }
      @media (min-width: 576px) {
        .timeline > li > .icon {
          left: 50%; } }
      .timeline > li > .icon.done {
        color: #23b5af; }
      .timeline > li > .icon.working {
        color: #eeba4c; }
